{% import "footer.njk" as footerComponent %}

<!DOCTYPE html>
<html>
<head>
    <title>My Web Project</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map">
    <link rel="stylesheet" type="text/css" href="/css/styles.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    {% include "header.njk" %}
    {% block content %} {% endblock %}
    {{ footerComponent.footer('#5A98D0') }}
    <script src="/js/app.min.js"></script>
</body>
</html>