    <div class="form-wrapper">
        
         <form class="popup-form form" action="submit.php" method="post">
            <p>SEND US MESSAGE</p>
            <img src="/img/crossSign.svg" class="popup-form__close-btn">
            <label class="form__label" for="full-name">Full Name:</label>
        <div class="form__field">
            <input class="form__input" type="text" id="full-name" name="full-name" placeholder="Your name">
            <span class="tooltip-wrapper"></span>
        </div>

        <label class="form__label" for="email">Email:</label>
        <div class="form__field">
             <input class="form__input" type="email" id="email" name="email" placeholder="Your email">
             <span class="tooltip-wrapper"></span>
        </div>

        <label class="form__label" for="message">Message:</label>
        <div class="form__field textarea-field">
            <textarea class="form__textarea form__input" id="message" name="message" rows="4" placeholder="Your name"></textarea>
            <span class="tooltip-wrapper"></span>
        </div>
         {{ buttonComponent.button("button form__button", "Let’s Talk", "submit") }}
  </form>
    </div>